---
layout: default
title: "Kyle Huang"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<main>
			<section id="introduction">
				<h1>Hello.</h1>
				<p>My name is Kyle Huang (黄齐华).</p>
				<p>
					I am an ai-taught swe that is into tech aspects of real-world
					problems.
				</p>
				<p>
					Currently,I am working on personal and collaborative projects, always
					looking for ways to learn and improve while contributing to modern web
					development.
				</p>
			</section>

			<section id="about-me">
				<p>
					Before transitioning into software engineering, I've been exploring
					various fields and now focus on leveraging AI technologies to build
					innovative solutions.
				</p>
				<p>
					Most of my work is open source and available on GitHub. If you find
					any of it useful, I’d appreciate hearing from you or collaborating to
					make it even better.
				</p>
			</section>

			<section id="contact">
				<p>
					You can follow me on Twitter where I mostly post about web development
					and AI technologies.
				</p>
				<p>Twitter: <a href="https://twitter.com/KyleQihua">@KyleQihua</a></p>
				<p>GitHub: <a href="https://github.com/kyleqihua">kyleqihua</a></p>
			</section>

			<section id="hobbies">
				<p>
					Outside of programming, I enjoy exploring new technologies, reading,
					and participating in community events.
				</p>
			</section>

			<section id="sunrise-photos">
				<h2>Sunrise Photos</h2>
				<div class="photo-gallery">
					{% assign sorted_images = site.data.images | sort: 'date' | reverse %}
					{% assign images_by_date = sorted_images | group_by: 'date' %} {% for
					date_group in images_by_date %}
					<h3>{{ date_group.name }}</h3>
					<div class="date-group">
						{% for image in date_group.items %}
						<figure>
							<img src="{{ image.path }}" alt="Sunrise on {{ image.date }}" />
							<figcaption>Sunrise on {{ image.date }}</figcaption>
						</figure>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</section>
		</main>
	</body>
</html>
